.welcome {
  background-image: $gradient-home;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .welcome-hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h1 {
      text-align: center;
      em {
        font-style: normal;
        transition: font-size .3s;
      }
      &.welcome-hero-brand {
        font-size: 5em;
        margin: .75em auto;
      }
      &:hover em, &:hover + h1 em{
        font-size: 2em;
      }
    }
  }
}
