div.submit {
  margin: 0 auto;
  background: $color-lightPink;
  padding: 1em 2em;
  color: $white;
  font-family: inherit;
  border: none;
  border-radius: 0.25em;
  align-self: center;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: lighten($color-lightPink, 2%);
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    border-radius: 0;
  }
}
// Spinner magic

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
  height: 2em;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: white; }
  100% { stroke: white; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}