@import "node_modules/slideout/index";

.sideNav-nav {
  background-color: $brand-light-inverse;
  .brand {
    color: $brand-white;
    text-align: center;
    font-size: 2em;
    padding:2rem 0;
    background-color: $brand-inverse;
    display: none;
  }
  .sideNav-cta {
    margin: 2rem 0 1rem 0;
    text-align: center;
    i {
      margin-right: .5em;
    }
    a {
      font-size: 1.1em;
    }
  }
  .sideNav-menu {
    .sideNav-menu-item {
      padding:0.8rem 0;
      margin: 0 1.5rem;
      font-size: 1.1em;
      color: inherit;
      line-height: 0.66em;
      color: $brand-white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // >div {
      //   display: inline-block;
      // }
      .sideNav-menu-item-icon {
        width: 3rem;
        text-align: center;
        i  {
          font-size: 1.33em;
        }
      }
    }
  }
}
.sideNav-content {
  background-color: #FFF;
  min-height: 100vh;
  .sideNav-content-mobileBar {
    .sideNav-content-mobileBar-menuIcon {
      position: absolute;
      color: white;
      i {
        line-height: 3.7rem;
        font-size: 1.5em;
        margin:0 1.33rem;
      }
    }
    .brand {
      color: $brand-white;
      text-align: center;
      font-size: 1.33em;
      padding:1rem 0;
      background-color: $brand-inverse;
    }
  }
}

@include media-breakpoint-up(md) {
  .sideNav {
    .sideNav-nav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: $width-sideNav-large;
      min-height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
      z-index: $zindex-navbar;
      .brand {
        display: block;
      }
    }
    .sideNav-content {
      position: relative;
      z-index: 1;
      will-change: transform; /* A background-color is required */
      min-height: 100vh;
      margin-left: $width-sideNav-large;
      .sideNav-content-mobileBar {
        display: none;
      }
    }
  }
}