.titleBar {
  //background-color: $brand-light-inverse;
  text-align: center;
  color: $brand-light-inverse;
  font-size: 2.5em;
  padding:2.025rem 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 200;
}