section.order-show {
  .order-status {
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-content: center;
    }

    .status-icon {
      display: inline-block;
      padding: 1em;
      color: $brand-white;
      border-radius: 9999px;
      min-width: 8em;

      i {
        margin-right: 5px;
      }
      @include media-breakpoint-down(lg) {
        margin-top: 1em;
        min-width: 12em;
      }

      &--received {
        background-color: $color-lightBlue;

        &--inactive {
          background-color: lighten($color-lightBlue, 20%);
        }
      }

      &--in-progress {
        background-color: $color-lightPink;

        &--inactive {
          background-color: lighten($color-lightPink, 15%);
        }
      }

      &--delivered {
        background-color: $coolors1-4;

        &--inactive {
          background-color: lighten($coolors1-4, 25%);
        }
      }
    }
  }
}
