// General Student Template

// Student Dashboard

.smallOverview-titleBar-credit {
  font-size: 2em;
  color: $brand-success;
}

.js-fill.js-tozero {
  fill: url("#linear") !important;
  fill-opacity: 1 !important;
}
