.topNav {
  
  box-shadow: 0 0 4px 4px $color-alphaDarken20;
  .row {
    justify-content: space-between;
    padding: 1.66rem;
  }

  .topNav-brand {
    a {
      color: inherit;
    }
  }

  .topNav-links {
    @include make-col(9);
    @include make-row();
    justify-content: flex-end;
  }
  .topNav-link {
    margin: auto 1rem;
    a {
      color: inherit;
    }
    &.topNav-link--cta a{
      background-color: $color-alphaDarken20;
      border-radius: 50px;
      padding: .5em 1.33em;
    }
  }

  &.topNav--onTop {
    position: fixed;
    width: 100%;
    z-index: $zindex-navbar;
    box-shadow: none;
    color: #fff;
  }
}
.topNavSpacer {
  flex:0;
  height: 6.33rem;
  width: 100%;
}