// Fonts

$font-family-sans-serif: "Nunito Sans", sans-serif;
$headings-font-family: "Nunito", sans-serif;

//Colors

$color-brand: #515E77;
$color-lightBlue: #74C9FA;
$color-lightPink: #FA74A9;
$color-alphaDarken20: rgba(0,0,0,0.2);

$coolors1-1: rgba(250, 116, 169, 1);
$coolors1-2: rgba(69, 105, 144, 1);
$coolors1-3: rgba(73, 190, 170, 1);
$coolors1-4: rgba(73, 220, 177, 1);
$coolors1-5: rgba(238, 184, 104, 1);

$colors3-purple: #AA81F3;
$colors3-blue: #0094F7;
$colors3-yellow: #F9C908;  
$colors3-red:#FF5A4D;
$colors3-darkblue: #182433;



$brand-primary:             $colors3-purple;
$brand-success:             $colors3-blue;
$brand-warning:             $colors3-yellow;
$brand-danger:              $colors3-red;
$brand-inverse:             $colors3-darkblue;
$brand-light-inverse:       lighten($brand-inverse,10%);
$brand-white: white;

$gradient-home: linear-gradient(-45deg, #a8edea 0%, #fed6e3 100%);
$gradient-home: linear-gradient(-25deg, #ff0808 0%, #ffb199 100%); 
$gradient-home: linear-gradient(-25deg, #CB92C6 0%, #FA74A9 100%);

// Links
$link-hover-decoration: none;

// Side Nav
$width-sideNav-large: 16rem;
$width-sideNav-small: 25rem;