// Variables
@import "variables";
@import "bootstrap";
@import "node_modules/ionicons/dist/scss/ionicons"; // Helpers
// Components
@import "components/brand";
@import "components/sideNav";
@import "components/titleBar";
@import "components/button"; // Layouts
@import "layouts/nav"; // Pages
@import "pages/welcome";
@import "pages/auth";
@import "pages/student/student";
@import "pages/student/createOrder";
@import "pages/student/show";
@import "pages/student/index";

body {
  margin: 0;
}

section.container {
  margin-top: 40px;
}

h1 {
  font-weight: bold;
}
